html{
    height: 100%;
}
body
{
    background-color: lightgray;
    /*background-image:url(images/b4.jpg);*/
    background-size: cover;
    position: relative;
}
.sa
{
    height:fit-content;
    display: flex;
    justify-content: space-between;
}
.sa1
{
    margin-top: 30px;
    text-align: center;
}
.img2
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}
.img1
{
 margin-top: 10px;
 margin-left: 20px;
 margin-bottom: 10px;
}
h1 
{
  color:rgb(12, 5, 5);
  font-style:normal;
  font-size:50px;
  font-weight: 1000;
  text-decoration: underline;
} 
h2{
color:rgb(255, 153, 0);
font-style:oblique;
font-size: x-large;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 1000;
}   

h3{
   text-decoration: underline;
   color: black;
   font-size:x-large;
}
.divider/*either keep this or just hr*/
{
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: rgb(12, 12, 12);
  width:auto ;  
    height:10px;   
}
.box1
{
    background-color: rgba(245, 245, 219, 0.411);   
}
p{
    font-size:large;
    font-weight: bold;
}

.gate
{
    width: fit-content;
    margin-bottom: 10px;
}
.img3
{
 margin-top: 10px;
 margin-left: 10px;
 margin-right: 10px;
 }
h6{
    font-size:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.out1
{
    background-color: rgba(89, 84, 88, 0.282);/*later remove it*/
    width: auto;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
}
.output
{
    margin-left: 20px;
    margin-right: 20px;
    height:fit-content;
    display: flex;
    justify-content: space-between;
}
.record{
color: black;
font-size: larger;
margin-left: 150px;
margin-right: 50px;
}
.face{
    display: flex;
    justify-content: space-between;
}
.rt
{
    width:700px;
}
.img7
{
  margin-top: 30px;
  margin-right: 40px;
}
.gps
{
    display: flex;
    justify-content: space-between;
}
.img8
{
    margin-left: 10px;
    padding-left: 10px;
}